<p style="text-align: center">
    <i class="far fa-copyright"></i> Copyright {{ NAME }}
    &middot; <a href="{% url 'cgu' %}" target="_blank">Conditions générales d'utilisation</a>
    {% if ASSOCIATION_ARTICLES %}
        &middot; <a href="{{ ASSOCIATION_ARTICLES.url }}" target="_blank">Statuts</a>
    {% endif %}
    {% if ASSOCIATION_BYLAW %}
        &middot; <a href="{{ ASSOCIATION_BYLAW.url }}" target="_blank">Règlement intérieur</a>
    {% endif %}
</p>