{% if type == "materiel" %}
    <i class="{{ INTRAMWET_EQUIPEMENT_ICON }} {{ size }}"></i>
{% elif type == "local" %}
    <i class="fas fa-warehouse {{ size }}"></i>
{% elif type == "passation" %}
    <i class="fas fa-sync {{ size }}"></i>
{% elif type == "projet" %}
    <i class="{{ INTRAMWET_PROJECT_ICON }} {{ size }}"></i>
{% elif type == "treso" %}
    <i class="fas fa-euro-sign {{ size }}"></i>
{% elif type == "groupe" %}
    <i class="fas fa-user-cog {{ size }}"></i>
{% elif type == "organisation" %}
    <i class="fas fa-user-tie {{ size }}"></i>
{% endif %}