<noscript>
    <style type="text/css">
        .content {
            display: none;
        }
    </style>
    <div class="alert alert-danger">
        <strong>Cette page nécessite la technologie Javascript pour fonctionner, merci de l'activer!</strong>
    </div>
</noscript>