<meta property="og:image:height" content="464">
<meta property="og:image:width" content="886">
<meta property="og:description" content="{{ SHORT_DESCRIPTION }}">
<meta property="og:title" content="{{ NAME }}">
<meta property="og:url" content="{{ INTRAMWET_URL }}">
<meta property="og:image" content="{{ INTRAMWET_URL }}{{ OG_IMAGE_JPG.url }}">