{% extends 'email/base_mail.html' %}
{% load projet_filter %}

{% block subject %}Tout s'est bien passé ?{% endblock %}

{% block title %}Tout s'est bien passé ?{% endblock %}

{% block content %}
    <p>Bonjour,</p>
    <p>Tu reçois cet e-mail car tu étais inscrit à un créneau de la tache {{ tache.nom }} du
        projet {{ tache.projet.nom }}.</p>
    <p>
        Le créneau étant terminé, la tâche peut-elle être considérée comme terminée ?
        Si c'est le cas, merci d'aller sur la page du projet et de cliquer sur le bouton
        "Terminer la tâche" dans les paramètres de la tâche.
    </p>

    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="left">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td><a href="{{ prefix }}{% url 'projet' tache.projet.id %}" target="_blank">Accéder au
                            projet {{ tache.projet.nom }}</a></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    <p>Merci à toi de participer aux activités de l'association !</p>

    <p>Pour plus d'informations sur le fonctionnement des projets, nous t'invitons à lire le wiki du site.</p>
    <p>A bientôt !</p>
    <p>Le bureau</p>
{% endblock %}