{% extends 'treso/facture.html' %}
{% load static widget_tweaks %}

{% block title %}
    Génération d'un devis
{% endblock %}

{% block header %}
    <header>
        <h1>Générer un devis</h1>
        <div class="header-content">
            <p>
                Sur cette page vous pouvez générer un devis.
            </p>
        </div>
    </header>
{% endblock %}

{% block url_sans_sauvegarde %}'{% url 'devis' %}'{% endblock %}

{% block url_sauvegarde %}'{% url 'devis_sauvegarder' %}'{% endblock %}
