{% extends "base_navbar.html" %}
{% load static %}

{% block navbar_tresorerie %}
    active
{% endblock %}

{% block navbar_compte %}
    active
{% endblock %}

{% block title %}
    {% if request.user.is_staff %}
        {% if id_client %}
            Modifier un client
        {% else %}
            Créer un client
        {% endif %}
    {% else %}
        Modifier vos coordonnées
    {% endif %}
{% endblock %}

{% block head_css %}
    <link href="{% static 'treso/css/facture.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <header>
        <h1>
            {% if request.user.is_staff %}
                {% if id_client %}Modifier{% else %}Créer{% endif %} un client
            {% else %}
                Modifier vos coordonnées
            {% endif %}
        </h1>
        <div class="header-content">
            <p>
                {% if request.user.is_staff %}
                    {% if id_client %}
                        Vous souhaitez modifier un client ?
                    {% else %}
                        Vous pouvez créer un nouveau client.
                    {% endif %}
                {% endif %}
                Les informations relatives à l'adresse sont obligatoires car elles servent au système de
                génération de factures.
                {% if request.user.is_staff %}
                    Si vous n'avez pas les informations, contentez-vous d'être un bon
                    trésorier et de laisser les valeurs par défaut.
                {% endif %}
            </p>
        </div>
    </header>

    <div class="container-fluid">

        <form method="post" action="
                {% if id_client %}{% url 'edit_client' id_client %}{% else %}{% url 'create_client' %}{% endif %}">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% for field in form.visible_fields %}
                <div class="form-group row">
                    <div class="col-12">
                        {{ field.label_tag }}

                        {% if field.errors %}
                            <ul>
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary form-control" value="Valider"/>
        </form>
    </div>
{% endblock %}

{% block footer_javascript %}
    <script type="text/javascript">
    </script>
{% endblock %}
