{% extends 'base_navbar.html' %}
{% load static widget_tweaks icon %}

{% block title %}
    Génération d'une facture
{% endblock %}

{% block navbar_tresorerie %}
    active
{% endblock %}

{% block head_css %}
    <link href="{% static 'treso/css/facture.css' %}"
          rel="stylesheet" media="screen">
{% endblock %}

{% block header %}
    <header>
        <h1>Générer une facture</h1>
        <div class="header-content">
            <p>
                Sur cette page vous pouvez générer une facture.
            </p>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form method="post" target="_blank">
            {% csrf_token %}
            {% if factureform.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for error in factureform.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="title">Propriétés</h2>
                    <p>
                        Dernier numéro généré : <strong>{{ dernier_numero }}</strong>
                    </p>

                    {% for field in factureform.visible_fields %}
                        <div class="form-group row">
                            <div class="col-12">
                                {{ field.label_tag }}

                                {% if field.errors %}
                                    <ul>
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}


                                {{ field }}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-lg-4">
                    <h2 class="title">Grille tarifaire</h2>
                    {% regroup grille_tarifaire by categorie as categories_grille_tarifaire %}
                    {% for categorie in categories_grille_tarifaire %}
                        <p>
                            <a class="switch" data-toggle="collapse" data-target="#{{ categorie.grouper }}"><i
                                    class="fas fa-angle-right"></i> {{ categorie.grouper }}</a>

                        <ul id="{{ categorie.grouper }}" class="collapse">
                            {% for entree in categorie.list %}
                                <li>
                                    <a onclick="utiliserGrilleTarifaire('{{ entree.nom }}', {{ entree.prix }})">{{ entree.nom }}</a>
                                    - {{ entree.prix }}€
                                </li>
                            {% endfor %}
                        </ul>
                        </p>
                    {% endfor %}
                </div>
            </div>

            {{ formset.management_form }}

            <h2 class="title">Prestations</h2>

            {% for form in formset %}
                <div class="form-inline form-row">
                    <div class="input-group mr-sm-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-tag"></i></span>
                        </div>
                        {% render_field form.nom class="form-control nom" placeholder="Nom de la prestation" %}
                    </div>
                    <div class="input-group mr-sm-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Quantité</span>
                        </div>
                        {% render_field form.quantite class="form-control quantite" min="0" step="any" value="1" %}
                    </div>
                    <div class="input-group mr-sm-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Prix unitaire</span>
                        </div>
                        {% render_field form.prix class="form-control prix" step="0.01" %}
                        <div class="input-group-append">
                            <span class="input-group-text">{% icon "treso" "fa-sm" %}</span>
                        </div>
                    </div>
                    <div class="input-group mr-sm-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Coefficient</span>
                        </div>
                        {% render_field form.coefficient class="form-control coefficient" min="0" step="0.01" value="1" %}
                    </div>

                    <div class="input-group-append">
                        <button class="btn btn-danger remove-form-row"><i class="fas fa-minus"></i></button>
                    </div>
                </div>

            {% endfor %}
        </form>

        <hr>
        <div class="row">
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-success form-control add-form-row">
                    <i class="fas fa-plus-circle"></i> Ajouter une ligne
                </button>
            </div>

            <div class="form-group col-md-5">
                <input type="button" name="generer" class="btn btn-outline-dark form-control"
                       onclick="send_form({% block url_sans_sauvegarde %}'{% url 'facture' %}'{% endblock %})"
                       value="Générer sans sauvegarder"/>
            </div>

            <div class="form-group col-md-5">
                <input type="button" name="save_generer" class="btn btn-primary form-control"
                       onclick="send_form({% block url_sauvegarde %}'{% url 'facture_sauvegarder' %}'{% endblock %})"
                       value="Générer et sauvegarder"/>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer_javascript %}
    {# Date time picker #}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/css/tempusdominus-bootstrap-4.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/fr.js"></script>

    <script src="{% static 'treso/js/facture.js' %}?v=3"></script>
    <script src="{% static 'js/dynamic_forms.js' %}?v=1"></script>
{% endblock %}
