{% extends 'base_navbar.html' %}
{% load static widget_tweaks %}

{% block title %}
    Génération d'une facture d'emprunt
{% endblock %}

{% block navbar_tresorerie %}
    active
{% endblock %}

{% block head_css %}
    <link href="{% static 'treso/css/facture.css' %}"
          rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <header>
        <h1>Générer une facture d'emprunt</h1>
        <div class="header-content">
            <p>
                Vous voyez sur cette page l'ensemble des emprunts payants. Vous pouvez générer la facture pour chaque
                emprunt.
            </p>
        </div>
    </header>

    <div class="container-fluid">
        <form method="post" target="_blank">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% render_field form.coefficient class="form-control" min="0" step="any" value="1" %}
        </form>

        {% for emprunt in emprunts_payants %}
            <div class="card card-lg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1">
                            <img class="photo-matos" src="{% url "photo_utilisateur" emprunt.membre.id %}"
                                 alt="Photo de {{ emprunt.membre.nomComplet }}"/>
                        </div>
                        <div class="col-md-10">
                            <h4>{{ emprunt.membre.nomComplet }}</h4>
                            <p>
                                Du {{ emprunt.debut }} au {{ emprunt.fin }}
                            </p>
                            <p>
                                <strong>Raison : </strong>
                                {{ emprunt.description }}<br/>
                            </p>
                            {% if not emprunt.membre.organisation %}
                                <p style="color: red">
                                    <strong>Cet utilisateur n'a pas d'organisation associée! <a
                                            href="{% url "admin_user" emprunt.membre.id %}" targer="_blank">Modifiez son
                                        profil!</a> </strong>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-outline-dark card-link"
                                    onclick="send_form('{% url 'facture_emprunt' emprunt.id %}')">Générer la facture
                                sans
                                sauvegarder
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary card-link"
                                    onclick="send_form('{% url 'facture_emprunt_sauvegarder' emprunt.id %}')">Générer et
                                sauvegarder
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block footer_javascript %}
    {# Plugin confirmation box #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2@4.0.0/dist/bootstrap-confirmation.min.js"></script>

    {# Date time picker #}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/css/tempusdominus-bootstrap-4.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/fr.js"></script>

    <script src="{% static 'treso/js/facture.js' %}?v=3"></script>
{% endblock %}