{% extends "base_navbar.html" %}
{% load static %}

{% block navbar_projets %}
    active
{% endblock %}

{% block title %}
    {% if edit %}
        Modifier une tâche
    {% else %}
        Créer une tâche
    {% endif %}
{% endblock %}

{% block head_css %}
    <link href="{% static 'projet/css/projet.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <header>
        <h1>
            {% if edit %}Modifier{% else %}Créer{% endif %} une tâche
        </h1>
        <div class="header-content">
            <p>
                {% if edit %}
                    Vous souhaitez modifier votre tâche {{ form.nom.value }} ?
                {% else %}
                    Ici, vous pouvez créer votre propre tâche !
                {% endif %}
                Choisissez une préconfiguration pour paramétrer le système de notifications.
                {% if user.is_staff %}
                    Pour rajouter une préconfiguration, consultez le wiki.
                {% endif %}
            </p>
        </div>
    </header>

    <div class="container-fluid">
        <section>
            <h2 class="title">Préconfiguration</h2>

            <div class="form-group">
                <label for="#preconfiguration">Choisissez une préconfiguration :</label>
                <select required class="form-control"
                        name="preconfiguration" id="preconfiguration">
                    <option value="" active>---------</option>
                    {% for preconfig in preconfigurations %}
                        <option value="{{ forloop.counter }}"
                                {% if preconfig.nomTache %}data-nom="{{ preconfig.nomTache }}"{% endif %}
                                data-visible="{{ preconfig.visible }}"
                                data-max-membre-assignable="{{ preconfig.maxMembreAssignable }}"
                                data-fiche-cession-droits="{{ preconfig.ficheCessionDroits }}"
                                data-notif-pour-inscription="{{ preconfig.notifPourInscription }}"
                                data-notif-bureau-termine="{{ preconfig.notifBureauTermine }}"
                                data-notif-bureau-avant-date="{{ preconfig.notifBureauAvantDate }}"
                                data-notif-membre-avant-date="{{ preconfig.notifMembreAvantDate }}"
                                data-notif-membre-apres-date="{{ preconfig.notifMembreApresDate }}"
                                data-notif-bureau="{{ preconfig.notifBureau }}"
                                data-notif-membre="{{ preconfig.notifMembre }}">{{ preconfig }}</option>
                    {% endfor %}
                </select>
            </div>
        </section>

        <section>
            <h2 class="title">Options</h2>
            <form method="post" action="
                    {% if edit %}{% url 'edit_tache' id_tache %}{% else %}{% url 'ajout_tache' id_projet %}{% endif %}">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% for field in form.visible_fields %}
                    {% ifequal field.field.widget.input_type 'checkbox' %}
                        <div class="form-check">
                            {{ field }}
                            <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}</label>
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    {% else %}

                        <div class="form-group row">
                            <div class="col-12">
                                {{ field.label_tag }}

                                {% if field.errors %}
                                    <ul>
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                {{ field }}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}

                            </div>
                        </div>
                    {% endifequal %}
                {% endfor %}
                <input type="submit" class="btn btn-primary form-control" value="Valider"/>
            </form>
        </section>
    </div>
{% endblock %}

{% block footer_javascript %}
    {# Date time picker #}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/css/tempusdominus-bootstrap-4.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/fr.js"></script>

    <script type="text/javascript">
        $(function () {
            picker_debut = $('#id_debut');
            picker_debut.datetimepicker({
                locale: 'fr',
                format: 'DD/MM/YYYY HH:mm',
                date: null
            });

            picker_fin = $('#id_fin');
            picker_fin.datetimepicker({
                locale: 'fr',
                format: 'DD/MM/YYYY HH:mm',
                date: null
            });

            {% if edit %}
                picker_debut.datetimepicker('date', '{{ form.debut.value|date:'d/m/Y H:i' }}');
                picker_fin.datetimepicker('date', '{{ form.fin.value|date:'d/m/Y H:i' }}');
            {% endif %}

            let preconfig = $('#preconfiguration');
            preconfig.change(function () {
                let data = $('#preconfiguration option[value="' + preconfig.val() + '"]').data();
                $.each(data, function (key, value) {
                    let input = $('#id_' + key);
                    if (input.prop('type') === 'checkbox') {
                        value = value === "True" ? true : (value === "False" ? false : value);
                        input.prop('checked', value);
                    } else {
                        input.val(value);
                    }
                });
            });
        });
    </script>
{% endblock %}
