<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cession des droits d'auteur</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    La participation à cette tâche requiert une création artistique de votre part.
                    Néanmoins, il vous est nécessaire de céder les droits de cette création à l'association.
                    Ces droits nous permettent de conserver la vidéo dans nos archives, ainsi que de la distribuer
                    librement auprès de nombreux intéressés.
                    Pour plus d'informations, contactez : <a
                        href="mailto:{{ CONTACT_EMAIL }}?Subject=Cession de droits d'auteur"
                        target="_top" style="color:#007bff !important;">{{ CONTACT_EMAIL }}</a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">J'accepte de céder mes droits
                    d'auteur à {{ NAME }}
                </button>
            </div>
        </div>

    </div>
</div>