{% extends "base_navbar.html" %}
{% load static icon %}
{% load projet_filter %}

{% block no_javascript_error %}
    {% include "no_javascript_error.html" %}
{% endblock %}

{% block navbar_projets %}
    active
{% endblock %}

{% block title %}
    {{ projet.nom }}
{% endblock %}

{% block head_css %}
    <link href="{% static 'projet/css/projet.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <!-- Modal -->
    {% include 'modal_cession_droits.html' %}

    <header>
        <h1>{{ projet.nom }}</h1>
        <div class="header-content">
            <p>
                {% if est_admin %}
                    Ici, vous pouvez administrer votre projet. Un projet est organisé en tâches, sur lesquelles peuvent
                    s'inscrire les participants aux projets. Vous pouvez également générer des fiches de cession de
                    droits
                    facilement grâce aux tâches.
                {% elif not est_inscrit_au_projet %}
                    Ce projet vous intéresse ? Inscrivez-vous dessus et prenez part à la vie associative de {{ SHORT_NAME }}!
                    Un projet est organisé en tâches. Inscrivez-vous d'abord au projet en choisissant un rôle, puis
                    inscrivez-vous à la tâche que vous préférez !
                {% else %}
                    Sur cette page, vous pouvez voir l'avancement du projet. Vous pouvez en profitez pour vous
                    inscrire à une tâche.
                {% endif %}
                {% if not taches and est_admin %}
                    Mais il n'y a aucune tâche ! Peut-être devriez vous commencer par un créer une ...
                {% endif %}
            </p>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row main-row">
            <div class="col-md-3 side-col" id="side-col">
                <div id="side-col-content">
                    {% include 'projet_description.html' %}
                </div>
                <div id="chargement" style="display: none">
                    <h2 class="title" style="text-align: center">Chargement ...</h2>
                    <h2 class="title" style="text-align: center">
                        <i class="fas fa-spinner fa-spin fa-lg"></i>
                    </h2>
                </div>
            </div>

            <div class="col-md-9">
                <h2 class="title">
                    Tâches
                    {% if est_admin %}
                        <button class="btn btn-outline-dark btn-sm"
                                onclick="location.href='{% url 'ajout_tache' id_projet %}';">
                            <i class="fas fa-plus-circle"></i> Créer une tâche
                        </button>
                    {% endif %}
                </h2>
                <div class="card-columns">
                    {% for tache in taches %}

                        <div class="card card-lg {% if not tache.visible %}non-visible{% endif %}">
                            <div class="card-body row">
                                <div class="col-12">
                                    <h4 class="card-title">
                                        {% if not tache.visible %}
                                            <i class="far fa-eye-slash"></i>
                                        {% endif %}
                                        {{ tache.nom }}
                                        {% if est_admin %}
                                            <button class="btn btn-outline-primary btn-sm"
                                                    onclick="location.href = '{% url 'edit_tache' tache.id %}';"><i
                                                    class="far fa-edit"></i></button>
                                            <button class="btn btn-outline-danger btn-sm"
                                                    href="javascript:supprimer_tache({{ tache.id }});"
                                                    data-toggle="confirmation" data-btn-ok-label="Supprimer"
                                                    data-btn-cancel-label="Annuler" data-title="Supprimer la tâche ?">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        {% endif %}
                                    </h4>

                                    {% if tache.description %}
                                        <p class="card-text">{{ tache.description }}</p>
                                    {% endif %}

                                    {% if tache.creneaux.all %}
                                        <p class="card-text">{{ tache.creneaux.all|length }}
                                            créneau{{ tache.creneaux.all|length|pluralize:"x" }}
                                            disponible{{ tache.creneaux.all|length|pluralize }}.</p>
                                    {% endif %}

                                    <a class="btn btn-outline-dark btn-sm data-toggle" data-toggle="collapse"
                                       onclick="load_tache({{ tache.id }});">Plus</a>
                                </div>
                            </div>

                            {% if tache.tacheTerminee %}
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item card-done">Tâche terminée !</li>
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_javascript %}
    {# Plugin confirmation box #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2@4.0.0/dist/bootstrap-confirmation.min.js"></script>

    <script type="text/javascript">
        let id_projet = {{ projet.id }};
        let url_inscription_projet = '{% url 'ajout_participant_projet' %}';
        let url_inscription_creneau = '{% url 'ajout_participant_creneau' %}';
        let url_inscription_tache = '{% url 'ajout_participant_tache' %}';
        let url_suppression_creneau = '{% url 'suppression_creneau' %}';
        let url_suppression_participant_creneau = '{% url 'suppression_participant_creneau' %}';
        let url_suppression_participant_tache = '{% url 'suppression_participant_tache' %}';
        let url_suppression_participant_projet = '{% url 'suppression_participant_projet' %}';
        let url_suppression_tache = '{% url 'suppression_tache' %}';
        let url_terminer_tache = '{% url 'terminer_tache' %}';
        let url_tache_details = '{% url 'tache_details' %}';
        let url_projet_description = '{% url 'projet_description' %}';
        let url_diffuser_tache = '{% url 'diffuser_tache' %}';
        let id_user = {{ user.id }};
        let csrf_token = '{{ csrf_token }}';
    </script>
    <script type="text/javascript" src="{% static 'projet/js/projet.js' %}"></script>
{% endblock %}