{% load icon %}
<section>
    <h2 class="title">
        Description
        {% if est_admin %}
            <button class="btn btn-outline-dark btn-sm" onclick="location.href = '{% url 'edit_projet' projet.id %}';">
                <i class="far fa-edit"></i> Modifier
            </button>
        {% endif %}
    </h2>

    <p class="subtext">
        Administré par
        {% for admin in admins %}
            {% if not forloop.last %}
                {{ admin.utilisateur.nomComplet }},
            {% else %}
                {{ admin.utilisateur.nomComplet }}.
            {% endif %}
        {% empty %}
            le bureau.
        {% endfor %}
    </p>
    <p>
        {% if projet.description %}
            {{ projet.description }}
        {% else %}
            Ce projet n'a pas de description :( !
        {% endif %}
    </p>
    {% if projet.deadlineRendu %}
        <p>
            Ce projet doit être terminé avant le {{ projet.deadlineRendu|date:'d F o' }}.
        </p>
    {% endif %}
</section>

<section>
    <h2 class="title">
        Participants
    </h2>

    <h4>{{ SHORT_NAME }}</h4>
    <ul>
        {% for participant in participants_mouette %}
            <li>
                {% if est_admin %}
                    <a href="javascript:supprimer_participant_projet({{ projet.id }},{{ participant.id }});"><i
                            class="fas fa-times"></i></a>
                {% endif %}
                <strong>{{ participant.utilisateur.nomComplet }}</strong>
                {% if participant.typeParticipant.all %}
                    en tant que
                    {% for role in participant.typeParticipant.all %}
                        {% if not forloop.last %}
                            <strong>{{ role }}</strong>,
                        {% else %}
                            <strong>{{ role }}</strong>.
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if request.user.is_staff and participant.utilisateur.statutCotisation == "ATT" %}
                    <span style="color: red">Cotisation non-payée</span>
                {% endif %}
            </li>
        {% empty %}
            Aucun participant de l'association n'est inscrit !
        {% endfor %}
    </ul>
    <h4>Extérieur</h4>
    <ul>
        {% for participant in participants_exterieur %}
            <li>
                {% if est_admin %}
                    <a href="javascript:supprimer_participant_projet({{ projet.id }},{{ participant.id }});"><i
                            class="fas fa-times"></i></a>
                {% endif %}
                <strong>{{ participant.utilisateur.nomComplet }}</strong>
                {% if participant.typeParticipant.all %}
                    en tant que
                    {% for role in participant.typeParticipant.all %}
                        {% if not forloop.last %}
                            <strong>{{ role }}</strong>,
                        {% else %}
                            <strong>{{ role }}</strong>.
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </li>
        {% empty %}
            Aucun participant extérieur n'est inscrit !
        {% endfor %}
    </ul>

    {% if not est_inscrit_au_projet %}
        <button class="btn btn-primary" onclick="inscription_projet()">S'inscrire au projet</button>
        <div class="form-group">
            <label for="select-role">Rôle :</label>
            <select class="form-control" id="select-role1" name="role">
                {% for type in types_participants %}
                    <option value="{{ type.id }}">{{ type.typeParticipant }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-outline-dark btn-sm" onclick="ajouter_role();"><i class="fas fa-plus-circle"></i> Rôle</button>
    {% endif %}
</section>

{% if est_admin %}
    <section>
        <h2 class="title">
            Fiches de cession de droits
        </h2>

        <ul>
            {% for tache in projet.taches.all %}
                {% for fiche in tache.fichiers.all %}
                    <li><a href="{% url 'telecharger_fichier_tache' fiche.id %}"
                           target="_blank">{{ fiche.filename }}</a></li>
                {% endfor %}
            {% empty %}
                <li>Il n'y a pas de note de frais associée.</li>
            {% endfor %}
        </ul>
    </section>
{% endif %}