{% extends 'email/base_mail.html' %}

{% block subject %}Votre demande d'emprunt a été {% if valide %}validée !{% else %}refusée.{% endif %}{% endblock %}

{% block title %}
    Demande d'emprunt traitée.
{% endblock %}

{% block content %}
    <p>Bonjour {{ emprunt.user.first_name }},</p>

    {% if valide %}
        <p>Ta demande d'emprunt a été validée par le bureau !</p>

        {% if emprunt.commentaire %}
            <p><strong>Commentaire du bureau : </strong>{{ emprunt.commentaire }}</p>
        {% endif %}

        <p>
            Notre local se situe {{ OFFICE_ADDRESS }}.
        </p>
        <p>Si tu souhaite nous contacter, nous sommes à ta disposition par mail à l'adresse
            <a href="mailto:{{ CONTACT_EMAIL }}?Subject=Emprunt">{{ CONTACT_EMAIL }}</a>.</p>
    {% else %}
        <p>
            Malheureusement, ta demande a été refusée. Le local est sans doute déjà emprunté
            par d'autres personnes au même moment que toi.
        </p>

        {% if emprunt.commentaire %}
            <p><strong>Commentaire du bureau : </strong>{{ emprunt.commentaire }}</p>
        {% endif %}

        <p>Afin de pouvoir quand même réaliser ton projet audiovisuel, nous t'invitons à
            réeffectuer ta demande pour d'autres dates.</p>
        <p>Si tu souhiate nous contacter, nous sommes à ta disposition par mail à l'adresse
            <a href="mailto:{{ CONTACT_EMAIL }}?Subject=Emprunt">{{ CONTACT_EMAIL }}</a>.</p>
        <p>
            Tu peux aussi passer à notre local, {{ OFFICE_ADDRESS }}.
            {% if PERMANENCE %}
                Nous sommes ouverts {{ PERMANENCE }}.
            {% endif %}
        </p>
    {% endif %}

    <p>A bientôt et bon courage pour ton projet !</p>
    <p>Le bureau</p>
{% endblock %}