.photo-matos {
    width: 100%;
}


a.btn {
    color: white !important;
}

a.btn.btn-outline-dark {
    color: #343a40 !important;
}

a.btn.btn-outline-dark:hover {
    color: white !important;
}

h3[data-toggle="collapse"]:hover {
    cursor: pointer;
}