{% load icon %}

<div class="card card-lg">
    <div class="card-body row">
        <div class="col-md-12">
            <div class="symbole-categorie">{% icon "materiel" "fa-2x" %}</div>
            <h3 class="titre_categorie title">Emprunts</h3>
            <div class="trait"></div>

            <div class="texte_materiel_projet">
                {% if perms.utilisateur.acceder_local %}
                    <h4 class="margin-top">Emprunts du local</h4>
                    <hr>
                    {% for emprunt_local in emprunts_local %}
                        <p class="margin-top">
                            {{ emprunt_local.membre.nomComplet }} du
                            <strong>{{ emprunt_local.debut|date:'d F o' }}</strong> à
                            <strong>{{ emprunt_local.debut|date:'H:i' }}</strong> au
                            <strong>{{ emprunt_local.fin|date:'d F o' }}</strong>
                            à <strong>{{ emprunt_local.fin|date:'H:i' }}</strong>
                        </p>
                    {% empty %}
                        <p class="margin-top">Pas d'emprunt pour les 7 prochains jours.</p>
                    {% endfor %}
                {% endif %}

                {% if perms.utilisateur.acceder_materiel %}
                    <h4 class="margin-top">Mes emprunts de matériel</h4>
                    <hr>
                    {% for emprunt_element in emprunt_elements %}
                        <p class="margin-top">
                            {% if emprunt_element.statut == "VAL" %}
                                <i class="far fa-check-circle fa-lg"></i>
                            {% elif emprunt_element.statut == "REF" %}
                                <i class="far fa-times-circle fa-lg"></i>
                            {% else %}
                                <i class="far fa-circle fa-lg"></i>
                            {% endif %}
                            <strong>{{ emprunt_element.materiel.nom }}</strong> du
                            <strong>{{ emprunt_element.emprunt.debut|date:'d F o' }}</strong>
                            ({{ emprunt_element.emprunt.debut|date:'H:i' }}) au
                            <strong>{{ emprunt_element.emprunt.fin|date:'d F o' }}</strong>
                            ({{ emprunt_element.emprunt.fin|date:'H:i' }}).
                        </p>
                    {% empty %}
                        <p class="margin-top">Pas d'emprunt pour les 7 prochains jours.</p>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</div>