{% extends "base_navbar.html" %}
{% load static cache %}

{% block head_css %}
    <link href="{% static 'accueil/css/accueil.css' %}"
          rel="stylesheet" media="screen">
{% endblock %}

{% block navbar_accueil %}
    active
{% endblock %}

{% block content %}
    <header>
        <h1>Accueil</h1>
    </header>

    {% if modal_emprunt_reussi %}
        {% include "modal_emprunt_reussi.html" %}
    {% endif %}

    <div class="container-fluid-accueil">
        {% if request.user.is_staff %}
            <div class="row ligne">
                <div class="col-md-5">
                    {% include 'accueil_bureau.html' %}
                </div>
                <div class="col-md-7 materiel-projet">
                    {% include 'accueil_materiel.html' %}
                    {% include 'accueil_projet.html' %}
                </div>
            </div>
        {% elif perms.utilisateur.acceder_materiel or perms.utilisateur.acceder_projets %}
            <div class="container materiel-projet">
                {% if perms.utilisateur.acceder_materiel %}
                    {% include 'accueil_materiel.html' %}
                {% endif %}
                {% if perms.utilisateur.acceder_projets %}
                    {% include 'accueil_projet.html' %}
                {% endif %}
            </div>
        {% else %}
            <div class="container">
                <div class="categorie">

                    <div class="symbole-categorie"><i class="fas fa-home fa-2x"></i></div>
                    <h3 class="titre_categorie">Accueil</h3>
                    <div class="trait"></div>

                    <div class="texte_materiel_projet" style="text-align: center">
                        <h4 class="margin-top">Ton compte n'a aucun privilège ... :(</h4>
                        <p class="margin-top">
                            Ce n'est pas normal ! Tu devrais contacter immédiatement les administrateurs à
                            support@medialamouette.com.
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block footer_javascript %}
    <script src="{% static 'accueil/js/accueil.js' %}?v=2"></script>
{% endblock footer_javascript %}