{% extends "wiki.html" %}
{% load i18n widget_tweaks %}

{% block head_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock head_css %}

{% block content %}
    <div class="container">
        <div class="main">
            <form method="POST" action="{% url 'ajout_categorie' %}">
                {% csrf_token %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}

                <div class="form-group">
                    <input type="submit" value="Sauvegarder"
                           class="btn btn-primary btn-block"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}