{% extends "wiki.html" %}
{% load static icon %}

{% block footer_javascript %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2@4.0.0/dist/bootstrap-confirmation.min.js"></script>
    <script>let urlSuppression = '{% url 'suppression_document' document.id %}';</script>
    <script type="text/javascript" src="{% static 'documentation/js/display_document.js' %}"></script>
{% endblock %}



{% block head_css %}
    <link href="{% static 'documentation/css/navbar.css' %}"
          rel="stylesheet" media="screen">
{% endblock head_css %}

{% block header %}
    <header>
        <h1>
            {{ document.titre }}
        </h1>
        <div class="header-content">
            {% if request.user.is_staff %}
                <button role="button" class="btn btn-outline-dark"
                        onclick="window.location.href='{% url 'modification_document' document.id %}'"><i
                        class="fas fa-edit"></i> Modifier
                </button>
                <button role="button" class="btn btn-outline-dark"
                        data-toggle="confirmation"
                        data-btn-ok-label="Oui"
                        data-btn-cancel-label="Non" data-btn-cancel-class="btn-danger"
                        data-title="Êtes-vous sûr? Cette action est irréversible!"
                        data-on-confirm=""
                >
                    <i class="fas fa-trash"></i> Supprimer
                </button>
            {% endif %}
            <button role="button" class="btn btn-outline-dark"
                    onclick="window.location.href='{% url 'telechargement_document_pdf' document.id %}'"><i
                    class="fas fa-file-pdf"></i> Télécharger en pdf
            </button>
            <button role="button" class="btn btn-outline-dark"
                    onclick="window.location.href='{% url 'telechargement_document_markdown' document.id %}'"><i
                    class="fab fa-markdown"></i> Télécharger en markdown
            </button>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="main">
            <div class="md-content">
                {{ contenu_html | safe }}
            </div>
        </div>
    </div>
{% endblock %}