{% load widget_tweaks %}

<div class="modal-header">
    <h5 class="modal-title" id="modificationCategorieModalLabel">Chargement d'image</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form>
        {% csrf_token %}
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><h7><i class="fas fa-camera-retro"></i> Image</h7></span>
            </div>
            <input type="file" class="form-control"
                   id="{{ form.image.id_for_label }}"
                   name="{{ form.image.html_name }}"
                   value="{{ form.image.value }}">
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
    <button type="button" class="btn btn-primary" onclick="upload()">Charger</button>
</div>

<script>
    function upload(e) {
        let data = new FormData($('form').get(0));

        $.ajax({
            url: '{% url 'chargement_image' %}',
            type: 'POST',
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data['success']) {
                    $('.modal-body').html('' +
                        '<p>Modification de catégorie réussie ! Voici l\'URL à mettre dans votre éditeur: </p>' +
                        '<div class="row">' +
                        '<div class="col-md-8">' +
                        '<input class="form-control" type="text" value="' + data['path'] + '" id="url">' +
                        '</div>' +
                        '<div class="col-md-4">' +
                        '<button class="btn btn-outline-dark" type="button" onclick="copy()">' +
                        'Copier l\'URL' +
                        '</button>' +
                        '</div>' +
                        '</div>'
                    );
                } else {
                    alert("Erreur : Merci de recommencer la procédure !");
                    location.reload();
                }
            }
        });

        return false;
    }

    function copy() {
        var copyText = document.getElementById("url");
        copyText.select();
        document.execCommand("copy");
    }

</script>