.categorie {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-right: 0;
    margin-left: 0;
}

.contact {
    color: white;
    text-align: center;
    background-color: #646f7b;
    min-height: 30vh;
}

.container-fluid-accueil {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin: 0;
}

.full {
    height: 100vh;
    width: 100vw;
}

.jumbotron {
    margin-bottom: 0 !important;
    text-align: center;
}

@media (min-width: 600px) {
    .jumbotron-fluid {
        padding-top: 10em !important;
    }
}

@media (max-width: 600px) {
    .jumbotron-fluid {
        padding-top: 9em !important;
    }
}

.lien:active, .lien:visited {
    color: white !important;
}

.lien:hover {
    text-decoration-line: none;
    color: #13b5c7 !important;
}

.lien:link, .lien:visited {
    color: white;
    text-decoration-line: none;
    cursor: auto;
}

.ligne {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.margin-top {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 1em;
}

.materiel-projet {
    color: white;
    background-color: rgba(100, 111, 123, 0.82);
}

.monBouton {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 3em;
    padding-left: 3em;
    border-radius: 2em;
    color: white;
    background-color: #00586a;

    transition: background-color .3s;
}

.monBouton:hover {
    text-decoration: none !important;
    color: white !important;
    background-color: #002e3b;
}

.bouton-secondaire {
    background-color: #9d0018;
}

.bouton-secondaire:hover {
    background-color: #4c0916;
}

.no-margin {
    margin: 0;
}

.plan {
    height: 70vh;
    background-color: #646f7b;
}

@media (min-width: 600px) {
    .permanence {
        color: white;
        text-align: center;
        background-color: #4b535c;
        min-height: 40vh;
    }
}

@media (max-width: 600px) {
    .permanence {
        color: white;
        text-align: center;
        background-color: #4b535c;
        padding-right: 1em;
        padding-left: 1em;
    }
}

@media (min-width: 600px) {
    .presentation {
        color: white;
        text-align: justify;
        background-color: #343a40;
        min-height: 60vh;
        padding-right: 5em;
        padding-left: 5em;
    }
}

@media (max-width: 600px) {
    .presentation {
        color: white;
        text-align: justify;
        background-color: #343a40;
        padding-right: 1em;
        padding-left: 1em;
    }
}

@media (min-width: 600px) {
    .subtitleLaMouette {
        color: rgba(255, 255, 255, .9) !important;
        font-size: 2em;
        margin-top: 2em;
        margin-bottom: 5em;
    }
}

@media (max-width: 600px) {
    .subtitleLaMouette {
        color: rgba(255, 255, 255, .9);
        font-size: 1em;
        margin-top: 2em;
        margin-bottom: 3em;
    }
}

@media (max-height: 440px) and (min-width: 730px) {
    .subtitleLaMouette {
        display: none;
    }
}

@media (min-width: 730px) and (max-height: 630px) {
    .monBouton {
        display: none;
    }
}

@media (min-width: 600px) and (max-height: 630px) {
    .monBouton {
        display: none;
    }
}

@media (max-width: 400px) {
    .monBouton.bouton-principal {
        display: none;
    }
}

.symbole-categorie {
    text-align: center;
    margin-bottom: 1em;
}

.symbole-contact {
    margin-left: 1em;
    margin-right: 1em;
}

#contact a.lien {
    font-size: 2.7em;
}

.texte_bureau {
    padding-left: 3em;
    padding-right: 3em;
}

.texte_materiel_projet {
    padding-left: 3em;
    padding-right: 3em;
}

@media (min-width: 730px) {
    #title_logo {
        height: 10em;
    }
}

@media (max-width: 730px) and (min-width: 450px) {
    #title_logo {
        height: 6em;
    }
}

@media (max-width: 450px) {
    #title_logo {
        height: 4em;
    }
}

@media (min-width: 600px) {
    .titre_categorie {
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }
}

@media (max-width: 600px) {
    .titre_categorie {
        text-align: center;
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
    }
}

.small-categorie {
    transition: color .3s, padding .3s;
}

.small-categorie:hover {
    color: #cfcfcf;
    padding-left: 17px;
    padding-right: 17px;
}

.small-categorie h3 {
    text-align: center;
}

.small-categorie .categorie-icon {
    font-size: 4em;
    transition: font-size 1s;
}

.small-categorie .categorie-icon:hover {
    font-size: 4.7em;
}

.small-categorie .categorie-title {
    font-size: 2.2em;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}

.small-categorie .categorie-text {
    font-size: 1em;
}

.trait {
    background-color: white;
    height: 1pt;
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 2em;
}

.voir_commentaire {
    color: #a1b2c6;
    font-weight: bold;
}

.voir_commentaire:hover {
    color: white;
}

#site-wrapper {
    width: 100%;
}

#navbar-top {
    display: block;
    padding: 0;
    background-color: rgba(255, 255, 255, .2);
    z-index: 10;
    border-bottom: solid 1px rgba(255, 255, 255, .4);
    transition: background-color .3s;
}

#navbar-top:hover {
    background-color: rgba(255, 255, 255, .23);
}

#navbar-top .collapse {
    display: block;
}

#navbar-top a {
    color: #fff;
    font-size: 1.2em;
    padding: 12px 5px;
    transition: color .3s;
}

#navbar-top li {
    padding: 0 20px;
}

#navbar-top li:hover {
    background: rgba(255, 255, 255, .6);
    transition: background-color .3s;
}

#navbar-top a:hover {
    text-decoration: none;
    color: #353535 !important;
}

a {
    color: white !important;
    transition: color .3s;
}

.container-fluid-accueil > .container-fluid-accueil {
    padding-bottom: 5em !important;
}

.footer {
    color: white;
    text-align: justify;
    background-color: #343a40;
    height: 5em;
    position: absolute;
    bottom: 0;
}

#CookielawBanner {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(245, 245, 244, .9);
}