{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>

<body>
<p>
    {{ NAME }} - {{ LEGAL_STATUS }}
    <br/>
    {% for line in ADDRESS %}
        {{ line }}
        <br/>
    {% endfor %}
    {{ ADDRESS_POSTAL_CODE }} {{ ADDRESS_CITY }} {% if ADDRESS_POSTAL_CODE_CEDEX %}CEDEX{% endif %} {{ ADDRESS_COUNTRY }}
    <br/>
</p>


<hr>

<h1>Fiche de consentement des conditions générales d'utilisation du site medialamouette.fr</h1>

<h2>Identité de l'utilisateur</h2>

<p>Numéro d'inscription : <b>{{ no_inscription }}</b></p>

<p>Nom : <b>{{ user.last_name }}</b></p>

<p>Prénom : <b>{{ user.first_name }}</b></p>

<p>Date de naissance : <b>{{ user.anniversaire|date }}</b></p>

<p>Adresse postale: <b>{{ user.adresse }}</b></p>

<hr>

<h2>Conditions générales d'utilisation acceptées</h2>

{{ cgu | safe }}

<hr>

<p>Fait le <b>{{ today|date:'l j F Y G:i:s e' }}</b>.</p>

</body>

</html>


