{% extends 'utilisateur.html' %}
{% load static %}

{% block title %}
    Profil de {{ user.nomComplet }}
{% endblock %}

{% block head_css %}
    <link href="{% static 'utilisateur/css/profile.css' %}"
          rel="stylesheet" media="screen">
{% endblock %}


{% block content %}
    <header>
        <h1>Profil de {{ user.nomComplet }}</h1>
    </header>

    <div class="container-fluid" style="margin-bottom: 50px; max-width: 40rem;">
        <div class="card card-lg" id="user-info-card">
            <h5 class="card-header">{{ user.nomComplet }}</h5>
            <img alt="" src="{% url "photo_utilisateur" user.id %}" class="card-img-top">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-user-information">
                            <tbody>
                            <tr>
                                <td>Anniversaire:</td>
                                <td>{{ user.anniversaire }}</td>
                            </tr>

                            <tr>
                                <td>Groupes:</td>
                                <td>
                                    {% for group in user.groups.all %}
                                        {{ group }}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% if user.postesCA.all %}
                                <tr>
                                    <td>Postes CA:</td>
                                    <td>
                                        {% for poste in user.postesCA.all %}
                                            <p>{{ poste.statut }}</p>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>Email:</td>
                                <td>
                                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Téléphone:</td>
                                <td>
                                    {{ user.numeroDeTelephone }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}