<p>
    Nous disposons aussi d'un serveur Discord. N'hésite pas à l'intégrer, et
    à apprendre à connaître le reste des membres !
</p>

<table border="0" cellpadding="0" cellspacing="0" class="btn btn-dark">
    <tbody>
    <tr>
        <td align="left">
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td><a href="https://discord.gg/UHtfgwx" target="_blank">Rejoindre notre serveur Discord</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>