{% extends "local.html" %}
{% load materiel_filter %}

{% block title %}
    Mes Emprunts Local
{% endblock %}

{% block content %}

    <header>
        <h1>Mes emprunts du local</h1>

        <div class="header-content">
            <p>
                Depuis cette page, vous pouvez consulter vos emprunts du local
                déjà effectués et ceux à venir.
            </p>
        </div>
    </header>

    <div class="container-fluid">
        <h2 class="title">Emprunts à venir</h2>

        <section>
            {% for emprunt in emprunts_local_en_cours %}
                {% include "snippets/mes_emprunts_card.html" with en_cours=True emprunt=emprunt local=True only %}
            {% empty %}
                <p>Vous n'avez pas d'emprunt à venir.</p>
            {% endfor %}
        </section>


        <h2 class="title">Emprunts terminés</h2>

        <section>
            {% for emprunt in emprunts_local_finis %}
                {% include "snippets/mes_emprunts_card.html" with emprunt=emprunt local=True only %}
            {% empty %}
                <p>Vous n'avez pas d'emprunt à venir.</p>
            {% endfor %}
        </section>
    </div>
{% endblock %}

{% block footer_javascript %}
    {# Plugin confirmation box #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2@4.0.0/dist/bootstrap-confirmation.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]'
            });
        });
    </script>
{% endblock %}