{% extends 'email/base_mail.html' %}

{% block subject %}Votre nom d'utilisateur medialamouette.fr{% endblock %}

{% block title %}
    Nom d'utilisateur sur medialamouette.fr
{% endblock %}

{% block content %}
    <p>Bonjour,</p>
    <p>Tu as demandé les utilisateurs associés à l'adresse email {{ email }}; les voici:</p>
    <ul>
        {% for u in users %}
            <li>{{ u.username }}</li>
        {% empty %}
            <strong>Il n'y a pas d'utilisateur enregistré avec cette adresse mail!</strong>
        {% endfor %}
    </ul>
    <p>Si tu souhaites nous contacter, nous sommes à ta disposition à l'adresse
        <a href="mailto:{{ CONTACT_EMAIL }}?Subject=Authentification">{{ CONTACT_EMAIL }}</a>.</p>

    <p>A bientôt !</p>
    <p>Le bureau</p>
{% endblock %}