.user-profiles-list-basic {
    line-height: 1;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.user-profiles-list-basic li {
    display: inline-block;
    box-sizing: border-box;
    position: relative;

    text-align: left;
    font: normal 16px sans-serif;
    padding: 15px 30px 15px 20px;
    margin: 12px;

    background-color: #f4f8fa;
    border: 1px solid #dbe3e7;
    box-shadow: 0 2px 3px #dbe3e7;
}

.user-profiles-list-basic .user-avatar {
    float: left;
    width: 100px;
    text-align: left;
}

.user-profiles-list-basic .user-avatar img {
    border-radius: 50%;
    border: 0;
}

.user-profiles-list-basic p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin-top: 20px;
    max-width: 340px;
}

.user-profiles-list-basic p a {
    color: #5d6569;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.user-profiles-list-basic p span {
    display: block;
    font-size: 13px;
    color: #808d93;
    padding-top: 4px;
}

.user-profiles-list-basic .delete {
    background-color: #de4a4a;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    line-height: 22px;
    width: 22px;
    height: 22px;
    position: absolute;
    top: -10px;
    right: -10px;
    text-align: center;
    text-decoration: none;

}

/* Making the list responsive */

@media (max-width: 400px) {

    .user-profiles-list-basic li {
        margin: 10px 0;
    }

    .user-profiles-list-basic .delete {
        top: 10px;
        right: 10px;
    }

}
